@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-style: normal;
    font-display: swap;
}

:root {

    --primary-color: #8f0101;
    --secondary-color: #b81515;


    --backgroud-primary-color: #ffffff;
    --backgroud-secondary-color: #f5f5f5;
    --backgroud-tertiary-color: #000000;

    --text-primary-color: #222222;
    --text-secondary-color: #ffffff;

    --titles-weigt: 700;
    --text-weigt: 400;
    --menu-text-weigt: 500;

}

body,
img,
h1,
p,
fieldset,
legend,
label,
input,
textarea,
select,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: "Montserrat";
    font-weight: var(--titles-weigt);
    color: var(--primary-color);
}