
:root{
    --backgroud-primary-color: #ffffff;
     --backgroud-secondary-color: #f5f5f5;
     --backgroud-tertiary-color: #000000;

     --button-primary-color: #8f0101;
     --button-secondary-color: #b81515;

     --text-primary-color: #222222;
     --text-secondary-color: #ffffff;
     

}

body, img, h1, p, fieldset, legend, label, input, textarea, select, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

